<a href="https://colab.research.google.com/github/gaurav1610/Coursera_Capstone/blob/master/ASSIGNMENT2_WEEK3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING** **LIBRARY**

In [0]:
import pandas as pd
import numpy as np

**IMPORTING** **DATASET**

In [27]:
cities=pd.read_csv('/content/list_of_cities.csv')
cities.head()

  Postal Code      Borough                         Neighbourhood
0         M1B  Scarborough                         Rouge,Malvern
1         M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2         M1E  Scarborough       Guildwood,Morningside,West Hill
3         M1G  Scarborough                                Woburn
4         M1H  Scarborough                             Cedarbrae

In [28]:
coordinates=pd.read_csv('Geospatial_Coordinates.csv')
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**MERGING** **CITIES** **WITH** **GEOSPATIAL** **DATASET**

In [26]:
new=pd.merge(cities,coordinates,on='Postal Code')
new

    Postal Code      Borough  ...   Latitude  Longitude
0           M1B  Scarborough  ...  43.806686 -79.194353
1           M1C  Scarborough  ...  43.784535 -79.160497
2           M1E  Scarborough  ...  43.763573 -79.188711
3           M1G  Scarborough  ...  43.770992 -79.216917
4           M1H  Scarborough  ...  43.773136 -79.239476
..          ...          ...  ...        ...        ...
98          M9N         York  ...  43.706876 -79.518188
99          M9P    Etobicoke  ...  43.696319 -79.532242
100         M9R    Etobicoke  ...  43.688905 -79.554724
101         M9V    Etobicoke  ...  43.739416 -79.588437
102         M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]